name: Run Selenium Script

on:
  workflow_dispatch:

jobs:
  selenium_job:
    runs_on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install ChromeDriver
        run: |
          DRIVER_VERSION=$(curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE")
          wget https://chromedriver.storage.googleapis.com/${DRIVER_VERSION}/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/local/bin/
          chmod +x /usr/local/bin/chromedriver

      - name: Run script
        env:
          DOWNLOAD_DIR: ${{ github.workspace }}/downloads
        run: |
          mkdir -p downloads
          python stats_nz_scraper.py

      - name: Upload downloaded files
        uses: actions/upload-artifact@v4
        with:
          name: downloaded-data
          path: downloads/
